@font-face {
    font-family: varelaRound-regular;
    src: url(../../statics/fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(../../statics/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../statics/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../statics/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(../../statics/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: roboto-thin;
    src: url(../../statics/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: roboto-italic;
    src: url(../../statics/fonts/Roboto-MediumItalic.ttf);
}

*{
    margin: 0%;
    padding: 0%;  
}

p {
    font-family: 'roboto'
}

hr{
    margin-bottom: 10px;
}

.Header{
    background-color: #0c343d;
}

.Title{
    font-family: 'roboto-bold';
    font-size: 1.8rem;
    color: white;
    letter-spacing: 0.05rem;
    margin: 15px 0 0 1em;
    padding: 0;
}

.Subtitle{
    font-family: 'roboto-bold';
    font-size: 1.5em;
    color: #171717;
}

.Header .Subtitle{
    font-family: 'roboto-thin';
    font-size: 1em;
    color: white;
    padding: 0;
}

.Location{
    font-family: 'roboto';
    font-size: 0.8rem;
    color: white;
    text-align: right;
    height: max-content;
    position: relative;
    top: 40%;
    padding: 0 15px 0 0;
}

@media only screen and (min-width: 840px){
    .Header .Subtitle{
        margin: 0 0 20px 2em;
    }
    .Location{
        position: relative;
        top: 40%;
        padding: 0 15px 0 0;
    }
}
@media only screen and (max-width: 839px){
    .Header .Subtitle{
        margin: 0 0 0 2em;
    }
    .Location{
        position: inherit;
        text-align: left;
        margin: 0 0 10px 30px;
    }
}

.Resume{
    padding: 0 0 0 15px;
    font-size: 1em;
}

.ProfessionalExperience{
    /*background-color: #FFF4E0;*/
    padding: 0 0 0 15px;
}

.ExperienceItem{
    padding: 16px;
    margin-bottom: 10px;
}

.SectionDateTitleDescription_Date p{
    font-family: 'roboto-bold';
}

.SectionDateTitleDescription_Title p{
    font-family: 'roboto-bold';
}

.SectionDateTitleDescription_Entity p{
    font-family: 'roboto-italic';
    font-size: 0.9em;
}

.SectionUnorderedList{
    font-size: 0.9em;
    padding: 0 15px;
}

.EducationItem{
    padding: 16px;
    margin-bottom: 10px;
}

.my-card {
    height: 350px;
    width: 350px;
    margin: 12px;
}

.my-card-content {
    padding: 16px;
}